<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="moleQule.Library.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <moleQule.Library.Properties.Settings>
            <setting name="SETTING_NAME_USER_CULTURE" serializeAs="String">
                <value>CULTURE</value>
            </setting>
            <setting name="SETTING_NAME_DEFAULT_SCHEMA" serializeAs="String">
                <value>DEFAULT_SCHEMA</value>
            </setting>
            <setting name="SETTING_NAME_BACKUPS_DAYS" serializeAs="String">
                <value>BACKUPS_DAYS</value>
            </setting>
            <setting name="DB_USER" serializeAs="String">
                <value>moladmin</value>
            </setting>
            <setting name="DB_PWD" serializeAs="String">
                <value>iQi_1998</value>
            </setting>
            <setting name="SETTING_NAME_SHOW_AUTOPILOT" serializeAs="String">
                <value>SHOW_AUTOPILOT</value>
            </setting>
            <setting name="DB_VERSION_VARIABLE" serializeAs="String">
                <value>DB_VERSION</value>
            </setting>
            <setting name="SETTING_NAME_LINK_SEED" serializeAs="String">
                <value>LINK_SEED</value>
            </setting>
            <setting name="BACKUP_EXTENSION_FILTER" serializeAs="String">
                <value>Backup (*.backup)|*.backup</value>
            </setting>
            <setting name="ADMIN_USER" serializeAs="String">
                <value>moladmin</value>
            </setting>
            <setting name="SETTING_NAME_FILES_HOST" serializeAs="String">
                <value>FILES_HOST</value>
            </setting>
            <setting name="SETTING_NAME_FORMAT_GRIDS" serializeAs="String">
                <value>FORMAT_GRIDS</value>
            </setting>
            <setting name="SETTING_NAME_PDF_PRINTS_FOLDER" serializeAs="String">
                <value>PDF_PRINTS_FOLDER</value>
            </setting>
            <setting name="SETTING_NAME_MOLEQULE_DB_VERSION" serializeAs="String">
                <value>MOLEQULE_DB_VERSION</value>
            </setting>
            <setting name="SETTING_NAME_SMTP_HOST" serializeAs="String">
                <value>SMTP_HOST</value>
            </setting>
            <setting name="SETTING_NAME_SMTP_PORT" serializeAs="String">
                <value>SMTP_PORT</value>
            </setting>
            <setting name="SETTING_NAME_SMTP_USER" serializeAs="String">
                <value>SMTP_USER</value>
            </setting>
            <setting name="SETTING_NAME_SMTP_PWD" serializeAs="String">
                <value>SMTP_PWD</value>
            </setting>
            <setting name="SETTING_NAME_SMTP_EMAIL" serializeAs="String">
                <value>SMTP_EMAIL</value>
            </setting>
            <setting name="NAME" serializeAs="String">
                <value>MOLEQULE</value>
            </setting>
            <setting name="SETTING_NAME_SMTP_ENABLE_SSL" serializeAs="String">
                <value>SMTP_ENABLE_SSL</value>
            </setting>
            <setting name="SETTING_NAME_APPLICATION_VERSION" serializeAs="String">
                <value>APPLICATION_VERSION</value>
            </setting>
            <setting name="SETTING_NAME_SHOW_NULL_RECORDS" serializeAs="String">
                <value>SHOW_NULL_RECORDS</value>
            </setting>
            <setting name="SETTING_NAME_USE_DEFAULT_PRINTER" serializeAs="String">
                <value>USE_DEFAULT_PRINTER</value>
            </setting>
            <setting name="SETTING_NAME_DEFAULT_PRINTER" serializeAs="String">
                <value>DEFAULT_PRINTER</value>
            </setting>
            <setting name="SETTING_NAME_DEFAULT_N_COPIES" serializeAs="String">
                <value>DEFAULT_N_COPIES</value>
            </setting>
            <setting name="SETTING_NAME_POSTGRESQL_VERSION" serializeAs="String">
                <value>POSTGRESQL_VERSION</value>
            </setting>
            <setting name="SETTING_NAME_BACKUPS_HOUR" serializeAs="String">
                <value>BACKUPS_HOUR</value>
            </setting>
            <setting name="SETTING_NAME_BACKUPS_LAST_DATE" serializeAs="String">
                <value>BACKUPS_LAST_DATE</value>
            </setting>
            <setting name="SETTING_NAME_APP_CULTURE" serializeAs="String">
                <value>CULTURE</value>
            </setting>
            <setting name="COUNTIES_XML_FILE" serializeAs="String">
                <value>Countries.xml</value>
            </setting>
            <setting name="DB_NAME" serializeAs="String">
                <value>MOLEQULE</value>
            </setting>
            <setting name="SETTING_NAME_ADMIN_EMAIL" serializeAs="String">
                <value>ADMIN_EMAIL</value>
            </setting>
            <setting name="SETTING_NAME_ADMIN_CONTACT" serializeAs="String">
                <value>ADMIN_CONTACT</value>
            </setting>
            <setting name="SETTING_NAME_CLIENTS_CONTACT" serializeAs="String">
                <value>CLIENTS_CONTACT</value>
            </setting>
            <setting name="SETTING_NAME_SUPPORT_CONTACT" serializeAs="String">
                <value>SUPPORT_CONTACT</value>
            </setting>
            <setting name="SETTING_NAME_CLIENTS_EMAIL" serializeAs="String">
                <value>CLIENTS_EMAIL</value>
            </setting>
            <setting name="SETTING_NAME_SUPPORT_EMAIL" serializeAs="String">
                <value>SUPPORT_EMAIL</value>
            </setting>
            <setting name="SETTING_NAME_SUPPORT_MOBILE_PHONE" serializeAs="String">
                <value>SUPPORT_MOBILE_PHONE</value>
            </setting>
            <setting name="SETTING_NAME_CLIENTS_MOBILE_PHONE" serializeAs="String">
                <value>CLIENTS_MOBILE_PHONE</value>
            </setting>
            <setting name="SETTING_NAME_ADMIN_MOBILE_PHONE" serializeAs="String">
                <value>ADMIN_MOBILE_PHONE</value>
            </setting>
            <setting name="API_URL_MONITOR" serializeAs="String">
                <value>/gwaihir/monitor/</value>
            </setting>
            <setting name="API_SERVICE_MONITOR" serializeAs="String">
                <value>monitor.html</value>
            </setting>
            <setting name="API_ACTION_MONITOR" serializeAs="String">
                <value>update</value>
            </setting>
            <setting name="SUPERUSER" serializeAs="String">
                <value>moladmin</value>
            </setting>
            <setting name="SERVICES_USER" serializeAs="String">
                <value>molservice</value>
            </setting>
            <setting name="SETTING_NAME_SMS_GATEWAY_NAME" serializeAs="String">
                <value>SMS_GATEWAY_NAME</value>
            </setting>
            <setting name="SETTING_NAME_SMS_GATEWAY_CODE" serializeAs="String">
                <value>SMS_GATEWAY_CODE</value>
            </setting>
            <setting name="SETTING_NAME_SMS_GATEWAY_USER" serializeAs="String">
                <value>SMS_GATEWAY_USER</value>
            </setting>
            <setting name="SETTING_NAME_SMS_GATEWAY_PWD" serializeAs="String">
                <value>SMS_GATEWAY_PWD</value>
            </setting>
            <setting name="SETTING_NAME_SMS_GATEWAY_ACCOUNT" serializeAs="String">
                <value>SMS_GATEWAY_ACCOUNT</value>
            </setting>
            <setting name="SERVICES_PASSWORD" serializeAs="String">
                <value>iQi_1998</value>
            </setting>
        </moleQule.Library.Properties.Settings>
    </applicationSettings>
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="log4net" culture="neutral" />
          <bindingRedirect oldVersion="1.2.9.0-1.2.10.0" newVersion="1.2.10.0" />
        </dependentAssembly>
      </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="LogEnabled" value="true" />
    <add key="LogHome" value="log" />
    <add key="LogPrefix" value="moleQule" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>
