<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="moleQule.WebFace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <applicationSettings>
    <moleQule.WebFace.Properties.Settings>
      <setting name="API_ACTION_MONITOR" serializeAs="String">
        <value>update</value>
      </setting>
      <setting name="PRODUCTION_DOMAIN" serializeAs="String">
        <value>www.alquilermotosporhora.com</value>
      </setting>
      <setting name="STAGING_DOMAIN" serializeAs="String">
        <value>staging.alquilermotosporhora.com</value>
      </setting>
      <setting name="TEST_DOMAIN" serializeAs="String">
        <value>develop.alquilermotosporhora.com</value>
      </setting>
      <setting name="ALPHA_DOMAIN" serializeAs="String">
        <value>preproduction.alquilermotosporhora.com</value>
      </setting>
      <setting name="DEVELOPMENT_DOMAIN" serializeAs="String">
        <value>develop.alquilermotosporhora.com</value>
      </setting>
      <setting name="PROTOCOL" serializeAs="String">
        <value>http://</value>
      </setting>
      <setting name="API_KEY" serializeAs="String">
        <value>tW310AKKatOpvVb58FFHiBfFss0lft5u</value>
      </setting>
      <setting name="SECRET_KEY" serializeAs="String">
        <value>7D8IXAKpQXhfUvejnwnhsJtDrGYO7Tm</value>
      </setting>
      <setting name="API_URL_MONITOR" serializeAs="String">
        <value>/argos/monitor/</value>
      </setting>
      <setting name="API_SERVICE_MONITOR" serializeAs="String">
        <value>monitor.html</value>
      </setting>
      <setting name="REPORT_DEBUG_EMAIL" serializeAs="String">
        <value>debug@iqingenieros.com;</value>
      </setting>
      <setting name="REPORT_SUPPORT_EMAIL" serializeAs="String">
        <value>support@iqingenieros.com;</value>
      </setting>
      <setting name="REPORT_ADMIN_EMAIL" serializeAs="String">
        <value>motorent@iqingenieros.com;josecelano@gmail.com</value>
      </setting>
      <setting name="PublicIPWebServicUrl" serializeAs="String">
        <value>http://checkip.dyndns.org</value>
      </setting>
      <setting name="API_BASE_SUBDOMAIN" serializeAs="String">
        <value>gwaihir</value>
      </setting>
    </moleQule.WebFace.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" culture="neutral" />
        <bindingRedirect oldVersion="1.2.9.0-1.2.10.0" newVersion="1.2.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>
